<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BIENVENIDO</h1>
    
    <p>Que desea realizar?</p>
    <p><button><a href="/registrarCine">Registrar un cine</button>
    <button><a href="/mostrar">Mostrar cines registrados</button>
    <button><a href="/mostrarActualizar">Actualizar un cine</button>
    <button><a href="/mostrarEliminar">Eliminar un cine</button>
    </p>

    <p><button><a href="/registrarFuncion">Registrar una funcion</button>
    <button><a href="/mostrarFuncion">Mostrar funciones registradas</button>
    <button><a href="/mostrarActualizarFuncion">Actualizar una funcion</button>
    <button><a href="/mostrarEliminarFuncion">Eliminar una funcion</button>    
    </p>

    <p><button><a href="/registrarSala">Registrar una sala</button>
    <button><a href="/mostrarSala">Mostrar salas registradas</button>
    <button><a href="/mostrarActualizarSala">Actualizar una sala</button>
    <button><a href="/mostrarEliminarSala">Eliminar una sala</button><br>
    </p>

    <p><button><a href="/admin">Acceso como Admin</button></p>
    
</body>
</html>