<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BIENVENIDO</h1>
    
    <p>Que desea realizar?</p>
    <p><button><a href="/registrarCine">Registrar un cine</button>
    <button><a href="/mostrar">Mostrar cines registrados</button>
    <button><a href="/mostrarActualizar">Actualizar un cine</button>
    <button><a href="/mostrarEliminar">Eliminar un cine</button>
        
    </p>
    
</body>
</html>