<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if salas %}

    <table>
        <thead>
            <tr>
                <th>Cantidad de sillas</th>
                <th>Numero de la sala</th>
                <th>Tamaño de la pantalla</th>
                <th>Inclusividad</th>
                <th>Tipo de sala</th>
                <th>Estado</th>
                <th>Cine</th>
            </tr>
        </thead>
        <tbody>
            {% for i in salas %}
            <tr>
                <td>{{ i.CantidadSilla }}</td>
                <td>{{ i.NumeroSala }}</td>
                <td>{{ i.TamanioPantalla }}</td>
                <td>{{ i.InclusividadSala }}</td>
                <td>{{ i.TipoSala }}</td>
                <td>{{ i.EstadoSala }}</td>
                <td> {{ i.cine }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href='/'>Volver al inicio</button>
    {% else %}

    <div>
        <p>No se encontraron salas registradas</p>
    </div>
    {% endif %}


</body>
</html>